@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

* {
    color: darkslategrey;
    font-family: arial, sans-serif;
}

.text-center {
    text-align: center;
}

h1 {
    font-size: 30px;
    font-family: "Audiowide", sans-serif;
}

h2 {
    background-color: lightskyblue;
    border-radius: 5px;
    text-decoration: none;
    font-size: 24px;
}

h1,
h2,
a {
    color: darkblue;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: darkblue;
}

p#copy {
    font-style: italic;
    font-weight: bold;
}

#social {
    text-align: center;
}

#social a {
    color: white;
    font-size: 2rem;
}

#social .fa-facebook-square {
    color: navy;
}

#social .fa-twitter-square {
    color: dodgerblue;
}

#social .fa-linkedin-square {
    color: navy;
}


@media print {

    body,
    h1 {
        color: black;
        font-family: Times, serif;
    }

    h1#person {
        text-align: left;
    }

    h2 {
        background-color: unset;
    }
    
    a.topo {
        color: white;
    }
}